<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <style>
  h1 {
    text-align:center;
  }

  h2 {
    text-align:right;
  }


  #page_title {
    text-align: center;
  }

  </style>

<div class ="row">
                        <div class ="col-sm-5">
                        <h1><u>Tiny URL</u></h1>
                        </div>

                        <div class ="col-sm-7">
                          <!-- Checking if user name exists or not-->
                          <% if (user){  %>

                           <form action="/logout" method="POST" >
                             <button type="submit"> Logout </button>
                             <h3><%=user.id%> is logged in</h3>
                            </form>
                          <% } else {%>
                          <p>You are not logged in. Returning User? Click <a href ="/login">Login </a> to log in</p>
                          <p> OR Click <a href ="/register">Register</a> to Sign up</p>

                          <%}  %>

                        </div>
</div>
</head>
</html>