<!DOCTYPE html>
<html lang="en">
  <head><%include partials/_header %></head>
<body>

<h3 id = "page_title"> Home Page </h3>
<img src="https://www.websitemagazine.com/images/default-source/default-album/magnifying-glass-large.png?sfvrsn=0" alt="Tiny main page" style="width:600px;height:466px;">
  <!-- Link to make Tiny -->
</body>
</html>