<!DOCTYPE html>
<html lang="en">


<head>
 <% include ./partials/_header.ejs %>
</head>
<body>
  <p><%= shortURL %> - <%=longURL %></p>
    <!-- Add your EJS code here -->




  <!-- Link to make Tiny -->

</body>
</html>