<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header.ejs %>

</head>
<body>
    <!-- Add your EJS code here -->


    <!-- List or table of the URLs and their shortened forms -->
  <ul>
      <% for (i in urls) { %>
        <div class ="container">
            <div class="row">
                  <div class="col-xs-6">
                      <li><%=i %> : <%=urls[i] %></li>
                  </div>
                  <div class="col-xs-6">
                      <form method="POST" action="/urls/<%=i %>/delete">
                            <button type="submit">Delete<img src="http://customwastega.com/wp-content/uploads/2015/02/noun_16193.png" alt="Waste-basket" style="width:20px;height:20px;">
                            </button>
                      </form>
                  </div>
            </div>
        </div>
      <% } %>
  </ul>



</body>
</html>